body {
	background: #f2e3c9;
	color: rgb(0,0,0);
	font-family: 'PT Sans', sans-serif;
	font-size: 17px;
	font-weight: lighter;

}

h1, h2, h3{
	font-family: 'Volkhov', serif;
}


h1{
    color: #ef4b4b;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 29px;
}

h2{
	color: #ec8f6a;
    letter-spacing: 3px;
    font-size: 26px;
    font-weight: 400;
}

a{
	font-family: 'Volkhov', serif;
	font-weight: 400;
	text-decoration: none;
	color: #f1bc31;
	transition: color 0.3s ease;
	font-size: 16px;
}

a:hover {
	color: #7c0a02;
}

#img-profile{
	width: 145px;
}

.img-circle{
	border-radius: 50%;
}

.img-shadowed{
	box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
}


/* custom design with class*/

.container{
	width: 773px; 
	margin: 40px auto;
}


@media (max-width: 760px){
	.container{
		width: 600px;
	}
}

@media (max-width: 500px){
	.container{
		width: 400px;
	}
}


.card-beige{
	background: #fffde8;
	padding: 60px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 6px;
	margin: 49px 42px;
	text-align: center;
}

.btn-orange{
	background: #f75f00;
	color: #f2e3c9;
	padding: 13px 13px;
	border-radius: 6px;

}

.btn-orange:hover{
	background-color: #f2e3c9;
	color: #f75f00;
}


.list-inline{
	list-style: none;
	padding-left: 0px;
}

.list-inline li{
	display: inline;
	padding: 30px;
}

.list-inline i{
	font-size: 70px;
	color: #f2e3c9;

}

.list-inline i:hover{
	color: #f75f00;
}

/* Design adjustments */

#introduction p {
	margin-bottom: 46px;
	margin-top: 30px;
}